<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Viberr{% endblock %}</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
    <!-- take precedence -->
    <link rel="stylesheet" type="text/css" href="{% static 'music/style.css' %}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <!-- Header -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#top-nav-bar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="{% url 'music:index' %}" class="navbar-brand">Viberr</a>
            </div>
            <!-- Items -->
            <div class="collapse navbar-collapse" id="top-nav-bar">

                <!-- Menu -->
                <ul class="nav navbar-nav">
                    <li class="">
                        <a href="{% url 'music:index' %}">
                            <span class="glyphicon glyphicon-cd" aria-hidden="true">&nbsp;Albums</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="{% url 'music:detail' 1 %}">
                            <span class="glyphicon glyphicon-music" aria-hidden="true">&nbsp;Songs</span>
                        </a>
                    </li>
                </ul>

                <!-- Search -->
                <form action="#" method="get" role="search" class="navbar-form navbar-left">
                    <div class="form-group">
                        <input type="text" name="search-keyword" value="" class="form-control" />
                    </div>
                    <button type="submit" class="btn btn-default">Search</button>
                </form>

                <!-- Actions -->
                <ul class="nav navbar-nav navbar-right">
                    <li class="">
                        <a href="{% url 'music:album-add' %}">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true">&nbsp;Add Albums</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="#">
                            <span class="glyphicon glyphicon-off" aria-hidden="true">&nbsp;Logout</span>
                        </a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>

    {% block content %}{% endblock %}

</body>
</html>