{% extends 'music/base.html' %}

{% block title %}Album Detail{% endblock %}

{% block content %}
    <div class="container-fluid songs-container">

    <div class="row">

        <!-- Left Album Info -->
        <div class="col-sm-4 col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="{% url 'music:detail' album.id %}">
                        {% if album.album_logo %}
                            <img src="{{ album.album_logo.url }}" alt="{{ album.album.title }}" class="img-responsive" />
                        {% else %}
                            <h3>No image to display</h3>
                        {% endif %}
                    </a>
                    <h1>{{ album.album_title }} <small>{{ album.genre }}</small></h1>
                    <h2>{{ album.artist }}</h2>
                </div>
            </div>
        </div>

        <!-- Right Song Info -->
        <div class="col-sm-8 col-md-9">

            <ul class="nav nav-pills" style="margin-bottom: 10px;">
                <li role="presentation" class="active"><a href="{% url 'music:detail' album.id %}">View All</a></li>
                <li role="presentation"><a href="#">Add New Song</a></li>
            </ul>

            <div class="panel panel-default">
                <div class="panel-body">

                    <h3>All Songs</h3>

                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}

                    <table class="table">
                        <thead>
                        <tr>
                            <th>Title</th>
                            <th>Audio File</th>
                            <th>Favorite</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for song in album.song_set.all %}
                            <tr>
                                <td>{{ song.song_title }}</td>
                                <td>
                                    <a target="_blank" href="{{ song.audio_file.url }}">
                                        <button type="button" class="btn btn-success btn-xs">
                                            <span class="glyphicon glyphicon-play"></span>&nbsp; Play
                                        </button>
                                    </a>
                                </td>
                                <td>
                                    <a href="#" class="btn-favorite"><span class="glyphicon glyphicon-star {% if song.is_favorite %}active{% endif %}"></span></a>
                                </td>
                                <td>
                                    <form action="#" method="post" style="display: inline;">
                                        {% csrf_token %}
                                        <input type="hidden" name="song_id" value="{{ song.id }}" />
                                        <button type="submit" class="btn btn-danger btn-xs">
                                            <span class="glyphicon glyphicon-remove"></span>&nbsp; Delete
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>

        </div>

    </div>

</div>

{% endblock %}

    <!-- Favorites-->
    <!--<form action="{% url 'music:favorite' album.id %}" method="post">-->
        <!--{% csrf_token %}-->
        <!--{% if album.song_set.all %}-->
            <!--<ul>-->
                <!--{% for song in album.song_set.all %}-->
                    <!--<li>-->
                        <!--<input type="radio" id="song{{ forloop.counter }}" name="song" value="{{ song.id }}" />-->
                        <!--<label for="song{{ forloop.counter }}">-->
                            <!--{{ song.song_title }}-->
                            <!--{% if song.is_favorite %}-->
                                <!--<img src="https://image.flaticon.com/icons/svg/148/148841.svg" alt="favorite" width="20px" height="20px">-->
                            <!--{% else %}-->
                                <!--<img src="https://image.flaticon.com/icons/svg/149/149222.svg" alt="not favorite" width="20px" height="20px">-->
                            <!--{% endif %}-->
                        <!--</label>-->
                    <!--</li>-->
                <!--{% endfor %}-->
            <!--</ul>-->
            <!--<input type="submit" value="Favorite">-->
        <!--{% else %}-->
            <!--<h4>No songs found.</h4>-->
        <!--{% endif %}-->
    <!--</form>-->